<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title left>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label>TODO</ion-label>
  <ion-row *ngFor="let task of undoTaskList">
    <ion-col col-2>
      <ion-item>
        <ion-checkbox checked='false' (ionChange)="UpdateTaskState(task, true)"></ion-checkbox>
      </ion-item>
    </ion-col>
    <ion-col>
      <button detail-push ion-item (click)="showTaskDetail(task)">{{task.title}}</button>
    </ion-col>
  </ion-row>
  <ion-label>FNISHED</ion-label>
  <ion-row *ngFor="let task of finishTaskList">
    <ion-col col-2>
      <ion-item>
        <ion-checkbox checked='true' (ionChange)="UpdateTaskState(task, false)"></ion-checkbox>
      </ion-item>
    </ion-col>
    <ion-col>
      <button detail-push ion-item (click)="showTaskDetail(task)">{{task.title}}</button>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-buttons center>
    <button ion-button class="button-full" (click)="showAddTaskPage()">
      <ion-icon name="md-add-circle"></ion-icon>
      <ion-label>Add Task</ion-label>
    </button>
  </ion-buttons>
</ion-footer>
